*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg,#9be15d,#d4fc79);
}
p{
    font-size: 100px;
    font-weight: bold;
    text-shadow: 0px 5px 15px black;
}